@import '~kouto-swiss/index.styl'
@import '~globie-styl-library/helpers'
@import '~swiper/dist/css/swiper.css'

// ******************************************************

// RESETS

meyer-reset()
box-sizing-reset()
normalize()


// ******************************************************

// GRID

@import '~globie-styl-library/grid'

// ******************************************************

// FONTS
@import 'fonts/fonts'

$font-sans = 'ROM', font-stack('Arial')
$font-cond = 'ROM Condensed', font-stack('Arial Narrow')
$font-mono = 'ROM Mono', font-stack('Courier New');

// ******************************************************


// TYPOGRAPHY

@import '~globie-styl-library/type'

$font-size-larger = 1.3rem

$font-leading-basic = 1.35
$font-leading-tighter = 1.15
$font-leading-larger = 1.45

$font-tracking-basic = .001em
$font-tracking-wider = .05em

html
  font-family: $font-sans
  letter-spacing: $font-tracking-basic

body
  line-height: $font-leading-basic

.font-sans
  font-family: $font-sans

.font-cond
  font-family: $font-cond

.font-mono
  font-family: $font-mono

.font-larger
  font-size: $font-size-larger

.line-tighter
  line-height: $font-leading-tighter

.line-larger
  line-height: $font-leading-larger

// ******************************************************

// VARIABLES

$color-black = rgb(0, 0, 0)
$color-white = rgb(255, 255, 255)
$color-almond = rgb(255, 243, 227)
$color-yellow = rgb(255, 239, 167)
$color-yellow-light = rgb(255, 246, 199)
$color-brown = rgb(231, 207, 189)
$color-orange = rgb(254, 206, 164)
$color-muck = rgb(215, 211, 192)
$color-peach = rgb(255, 226, 201)
$color-grey-light = rgb(241, 241, 241)
$color-grey = rgb(144, 144, 144)
$color-pistachio = rgb(238, 244, 236)

// ******************************************************

// BASIC

html
  color: $color-black
  background-color: $color-almond

img
  height: auto
  max-width: 100%

.font-color-grey
  color: $color-grey

.mobile-only
  display: initial !important

.desktop-only
  display: none !important

// ******************************************************

// SHOP

@import 'shop'

// ******************************************************

// MEDIA QUERIES

@import 'shop'

@import 'responsive/mobile'

@import 'responsive/tablet-portrait'

@import 'responsive/tablet-landscape'

@import 'responsive/laptop'

@import 'responsive/desktop'

/*
@import 'responsive/hd'

@media screen and (min-width: 1920px)

  grid-maker(1800px)
*/
