@media screen and (min-width: 1366px)

  $gutter = 40px

  $margin-micro = ($gutter / 3)
  $margin-tiny = ($gutter / 2)
  $margin-small = ($gutter)
  $margin-basic = ($gutter * 2)
  $margin-mid = ($gutter * 3.5)
  $margin-large = ($gutter * 5)

  grid-maker(1300px, $gutter, xl)

  space-maker($margin-micro, $margin-tiny, $margin-small, $margin-basic, $margin-mid, $margin-large)

  $player-height = 90px

  #search-panel
    height: calc('100vh - ' + $player-height)
    padding-left: $margin-basic
    padding-right: $margin-basic
    #search-form-holder
      padding-left: $margin-tiny
      padding-right: $margin-tiny

  #loader
    img
      width: 90px

  #footer
    padding-bottom: $player-height + $margin-mid
