@media screen and (min-width: 1280px)

  $gutter = 35px

  $margin-micro = ($gutter / 3)
  $margin-tiny = ($gutter / 2)
  $margin-small = ($gutter)
  $margin-basic = ($gutter * 2)
  $margin-mid = ($gutter * 3.5)
  $margin-large = ($gutter * 5)

  $font-size-basic = 16px

  grid-maker(1130px, $gutter, l)

  space-maker($margin-micro, $margin-tiny, $margin-small, $margin-basic, $margin-mid, $margin-large)

  font-sizes($font-size-basic)

  .border-box
    border-top-width: $margin-tiny
    border-bottom-width: $margin-tiny
    &:after, &:before
      width: $margin-tiny

  .recent-album-thumb
    margin-right: $margin-tiny
    width: 175px

  #search-panel
    #search-form-holder
      padding-left: $margin-tiny
      padding-right: $margin-tiny

  .search-thumb-holder
    width: 155px
    height: 155px
