$gutter = 14px

$margin-micro = ($gutter / 3)
$margin-tiny = ($gutter / 2)
$margin-small = ($gutter)
$margin-basic = ($gutter * 2)
$margin-mid = ($gutter * 3.5)
$margin-large = ($gutter * 5)

$font-size-basic = 12px
$font-size-extra = 48px
$font-size-large = 36px
$font-size-mid = 24px
$font-size-small = 18px
$font-size-tiny = 8px

grid-maker(96%, $gutter, s)

space-maker($margin-micro, $margin-tiny, $margin-small, $margin-basic, $margin-mid, $margin-large)

font-sizes($font-size-basic, $font-size-extra, $font-size-large, $font-size-mid, $font-size-small, $font-size-tiny)

.not-mobile
  display: none !important

.border-square
  border-top: 10px solid red
  border-bottom: 10px solid red
  position: relative
  &:after, &:before
    height: 100%
    width: 10px
    position: absolute
    top: 0
    right: 0
    background: yellow
    content: ''
  &:before
    left: 0
    right: auto

#loader
  opacity: 0
  pointer-events: none
  display: flex
  justify-content: center
  align-items: center
  width: 100vw
  height: 100vh
  top: 0
  left: 0
  position: fixed

#main-content,
#posts,
#loader
  transition: opacity 200ms ease-in-out
  will-change: opacity

body
  &.loading, &.filtering
    #loader
      opacity: 1
  &.loading
    #main-content
      opacity: 0
      pointer-events: none
  &.filtering
    #posts
      opacity: 0
      pointer-events: none
