@media screen and (min-width: 1024px)

  $gutter = 30px

  $margin-micro = ($gutter / 3)
  $margin-tiny = ($gutter / 2)
  $margin-small = ($gutter)
  $margin-basic = ($gutter * 2)
  $margin-mid = ($gutter * 3.5)
  $margin-large = ($gutter * 5)

  grid-maker(1000px, $gutter, l)

  space-maker($margin-micro, $margin-tiny, $margin-small, $margin-basic, $margin-mid, $margin-large)

  $player-height = 80px

  .desktop-only
    display: block !important

  .not-desktop
    display: none !important

  .border-box
    border-top-width: $margin-tiny
    border-bottom-width: $margin-tiny
    &:after, &:before
      width: $margin-tiny

  #welcome-content
    font-size: $font-size-mid

  .album-featured-slide,
  .post-selection-slide
    width: 50vh

  #overlay-gallery
    overflow: unset
    padding-top: 0
    padding-left: 0
    padding-right: 0
    .swiper-container
      position: relative
      top: auto
      left: auto
      margin-top: auto
      margin-left: auto
      margin-right: auto
    .swiper-wrapper
      display: flex

  .overlay-gallery-slide
    width: auto
    height: 400px
    padding-left: $margin-basic * 2
    text-align: right
    margin-bottom: 0
    img
      width: auto
      max-width: none
      max-height: 100%

  #search-panel
    height: calc('100vh - ' + $player-height)
    padding-left: $margin-basic
    padding-right: $margin-basic
    #search-form-holder
      padding-left: $margin-tiny
      padding-right: $margin-tiny

  #player-main-row
    flex-wrap: nowrap

  .player-track-details
    border-bottom: none
    padding-bottom: 0
    margin-bottom: 0

  .player-thumb-holder
    width: 50px
    height: 50px
    img
      width: 50px
      height: 50px

  .player-control
    min-width: 50px
    height: 50px
    padding: 17px

  .album-item-recent
    flex-wrap: nowrap

  #post-details-holder
    order: 1

  #post-title-holder
    order: 2

  #loader
    img
      width: 70px

  .wp-block-pullquote
    p
      font-size: $font-size-large
    cite
      font-size: $font-size-small

  .alignwide,
  .wp-block-pullquote p
    margin-left: calc(unquote('(-100% / 70) * 7.5')) !important
    margin-right: calc(unquote('(-100% / 70) * 7.5')) !important
    max-width: calc(unquote('(100% / 70) * 85'))

  .alignfull
    margin-left: calc(unquote('(-100% / 70) * 15')) !important
    margin-right: calc(unquote('(-100% / 70) * 15')) !important
    max-width: calc(unquote('(100% / 70) * 100'))

  #post-content
    width: 70%
    figcaption
      font-size: $font-size-small

  #footer
    padding-bottom: $player-height + $margin-mid

  #social-holder
    justify-content: flex-start
