@media screen and (min-width: 650px)

  $gutter = 20px

  $margin-micro = ($gutter / 3)
  $margin-tiny = ($gutter / 2)
  $margin-small = ($gutter)
  $margin-basic = ($gutter * 2)
  $margin-mid = ($gutter * 3.5)
  $margin-large = ($gutter * 5)

  space-maker($margin-micro, $margin-tiny, $margin-small, $margin-basic, $margin-mid, $margin-large)

  grid-maker(96%, $gutter, m)

  .mobile-only
    display: none !important

  .not-mobile
    display: initial !important

  .border-box
    border-top-width: $margin-tiny
    border-bottom-width: $margin-tiny
    &:after, &:before
      width: $margin-tiny

  .recent-album-thumb
    width: 145px

  .search-thumb-holder
    width: 140px
    height: 140px

  #loader
    img
      width: 60px

  .wp-block-pullquote
    p
      font-size: $font-size-large

  .alignwide,
  .wp-block-pullquote
    margin-left: calc(unquote('(-100% / 80) * 5')) !important
    margin-right: calc(unquote('(-100% / 80) * 5')) !important
    max-width: calc(unquote('(100% / 80) * 90'))
    text-align: center

  .alignfull
    margin-left: calc(unquote('(-100% / 80) * 10')) !important
    margin-right: calc(unquote('(-100% / 80) * 10')) !important
    max-width: calc(unquote('(100% / 80) * 100'))
    text-align: center

  #post-content
    width: 80%
    figcaption
      font-size: $font-size-small
