@media screen and (min-width: 1024px)

  $gutter = 30px

  $margin-micro = ($gutter / 3)
  $margin-tiny = ($gutter / 2)
  $margin-small = ($gutter)
  $margin-basic = ($gutter * 2)
  $margin-mid = ($gutter * 3.5)
  $margin-large = ($gutter * 5)

  $font-size-basic = 16px

  grid-maker(1000px, $gutter, l)

  space-maker($margin-micro, $margin-tiny, $margin-small, $margin-basic, $margin-mid, $margin-large)

  font-sizes($font-size-basic)

  $player-height = 82px

  .desktop-only
    display: initial !important

  .border-box
    border-top-width: $margin-tiny
    border-bottom-width: $margin-tiny
    &:after, &:before
      width: $margin-tiny

  #main-nav
    position: fixed
    top: 0
    left: 0
    width: 100%
    height: auto
    z-index: 400
    pointer-events: none
    a
      pointer-events: auto

  .recent-album-thumb
    width: 160px
    margin-right: $margin-tiny

  #post-details-holder
    order: 1

  #post-title-holder
    order: 2

  #search-panel
    position: fixed
    top: 0
    right: 0
    width: 70vw
    height: calc('100vh - ' + $player-height)
    background: $color-grey-light
    overflow: scroll
    transform: translateX(10%)
    opacity: 0
    pointer-events: none
    transition: transform 0.3s ease-in-out, opacity 0.2s ease-in-out
    z-index: 300

  #search-toggle-overlay
    width: 100vh
    height: 100vh
    top: 0
    left: 0
    position: fixed
    pointer-events: none

  body
    &.search-open
      position: fixed
      width: 100%
      height: 100%
      left: 0px
      overflow: hidden
      #search-panel
        transform: translateX(0)
        opacity: 1
        pointer-events: auto
      #search-toggle-overlay
        pointer-events: auto

  .search-thumb-holder
    width: 145px
    height: 145px

  #loader
    img

  #wolf-logo
    width: 80px
