@media screen and (min-width: 1024px)

  $gutter = 30px

  $margin-micro = ($gutter / 3)
  $margin-tiny = ($gutter / 2)
  $margin-small = ($gutter)
  $margin-basic = ($gutter * 2)
  $margin-mid = ($gutter * 3.5)
  $margin-large = ($gutter * 5)

  grid-maker(1000px, $gutter, l)

  space-maker($margin-micro, $margin-tiny, $margin-small, $margin-basic, $margin-mid, $margin-large)

  $player-height = 82px

  .desktop-only
    display: block !important

  .not-desktop
    display: none !important

  .border-box
    border-top-width: $margin-tiny
    border-bottom-width: $margin-tiny
    &:after, &:before
      width: $margin-tiny

  .player-thumb-holder
    width: 50px
    height: 50px
    img
      width: 50px
      height: 50px

  .player-control
    min-width: 50px
    height: 50px
    padding: 17px

  #main-nav
    position: fixed
    top: 0
    left: 0
    width: 100%
    height: auto
    pointer-events: none
    a
      pointer-events: auto

  #main-nav-row
    padding-right: $margin-mid

  .album-item-recent
    flex-wrap: nowrap

  .recent-album-thumb
    width: 160px

  #post-details-holder
    order: 1

  #post-title-holder
    order: 2

  #search-panel
    position: fixed
    top: 0
    right: 0
    width: 70vw
    max-width: 1100px;
    height: calc('100vh - ' + $player-height)
    background: $color-grey-light
    overflow: scroll
    transform: translateX(10%)
    opacity: 0
    pointer-events: none
    transition: transform 0.3s ease-in-out, opacity 0.2s ease-in-out
    z-index: 300

  #search-toggle-overlay
    width: 100vh
    height: 100vh
    top: 0
    left: 0
    position: fixed
    pointer-events: none

  body
    &.search-open
      #main-container
        position: fixed
        width: 100%
        height: 100%
        left: 0px
      #search-panel
        transform: translateX(0)
        opacity: 1
        pointer-events: auto
      #search-toggle-overlay
        pointer-events: auto

  .search-thumb-holder
    width: 145px
    height: 145px

  #loader
    img
      width: 70px

  #wolf-logo
    width: 80px

  .wp-block-pullquote
    p
      font-size: $font-size-large
    cite
      font-size: $font-size-small

  .alignwide,
  .wp-block-pullquote p
    margin-left: calc(unquote('(-100% / 70) * 7.5')) !important
    margin-right: calc(unquote('(-100% / 70) * 7.5')) !important
    max-width: calc(unquote('(100% / 70) * 85'))

  .alignfull
    margin-left: calc(unquote('(-100% / 70) * 15')) !important
    margin-right: calc(unquote('(-100% / 70) * 15')) !important
    max-width: calc(unquote('(100% / 70) * 100'))

  #post-content
    width: 70%
    figcaption
      font-size: $font-size-small
